<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <script src="/scripts/script.js"></script>
</head>

<body>
    <section>
        <div class="background">
            <h1>Morgana's Menu </h1>
            <p>Take a bite of heaven</p>
        </div>
    </section>

<form action="">
    <div class="cart-con">
        <div id="close-cart-btn" class="fas fa-times"></div>
<form>
      <section class="container content-section">
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">

            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <input name="total" class="cart-total-price" type="text">
            </div>
            <button class="btn btn-primary btn-purchase" type="submit">PURCHASE</button>
        </section>
    </div>
    </form>

    <h2 class="menu-head">Explore Our menu</h2>
<!-- <form action="menu/edit" method="post"> -->
    <% categories.forEach(category=>{ %>
        <section class="menu">
            <fieldset>
                <legend>
                    <%=category %>
                </legend>
                <div class="menu-con">
                    <div class="list-left">
                        <% items.forEach((item)=>{ %>
                            <% if(item.type==category){ %>

                                <div style="margin-bottom: 2rem;" class="menu-item">
                                    <div class="menu-image">
                                        <img class="shop-item-image" src="<%=item.image%>" alt="">
                                    </div>
                                    <div class="menu-content">
                                        <h1 class="shop-item-title">
                                            <%=item.food_nm%>
                                        </h1>
                                        <p class="shop-item-des">
                                            <%=item.food_description%>
                                        </p>
                                        <a href="/menu/your-order/<%=item.id%>" class='order-btn shop-item-button'>Order Now</a>
                                    </div>
                                    <div class="price">
                                        <p class="shop-item-price">
                                            <%=item.price%>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <% } )%>

                    </div>

                </div>
            </fieldset>
        </section>`

        <% }) %>

<!-- </form> -->

</body>

</html>