<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/checkout.css">
    <script src="/scripts/script.js"></script>
</head>

<body onload="priceTotal()">
    <section>
        <div class="background">
            <h1>Checkout</h1>
        </div>
    </section>
    <div class="card">
        <div class="image">
            <img src="<%=foodItem.image%>" alt="">
        </div>

        <form action="/menu/add" method="post">
        <div class="content">
            <div class="sep">
                <div class="num">
            <label for="">
                Order number
                <input type="text" name="order_num" value="<%=order_num%>" readonly>
            </label>
            <label for="">Food Name
            <input type="text" name="food_nm" value="<%=foodItem.food_nm%>" readonly>
            </label>
            </div>
            <div class="sep2">
                <label for=""> Food Description
                <input type="text" name ="food_description" value="<%=foodItem.food_description%>" readonly>
                </label>
                <label for="">Price
            <input type="text" id="price" name ="price"  value="<%=foodItem.price%>">
            </label>
            </div>
            </div>
            
            <label for="">quantity
                <input type="number" id="qty" onchange="priceTotal()" name="quantity" value="1">
            </label>
            <label for="">Total
                <input type="number" id="total" value="" name="total">
            </label>
            <input type="submit" value="Purchase">
        </div>
        </form>
    </div>


</body>

</html>